<!doctype html>
<link rel="stylesheet" href="/static/css/tailwind.min.css"/>

<style>
  input:checked ~ .radio {
    color:white;
    background-color: green;
  }
</style>

<div class="flex justify-center items-center text-center h-screen">
  <div class="m-auto">
    
    <p class="text-xl">
      Who is paying for coffee?
    </p> 
    
    <form id="form_id" class="post" action="/" method="post">
      <div class="inline-flex rounded-lg">
        <input type="radio" name="user_name" id="derz" value="Derz" 
          {% if "Derz" in name %} 
            checked 
          {% endif %} 
            hidden onclick="document.getElementById('form_id').submit();" />
        <label for="derz" class="radio text-center self-center py-2 px-4 rounded-lg cursor-pointer hover:opacity-75">Derz</label>
      </div>

      <div class="inline-flex rounded-lg">
        <input type="radio" name="user_name" id="wes"  value="Wes"
          {% if "Wes" in name %} 
            checked 
          {% endif %} 
            hidden onclick="document.getElementById('form_id').submit();" />
        <label for="wes" class="radio text-center self-center py-2 px-4 rounded-lg cursor-pointer hover:opacity-75">Wes</label>
      </div>
    </form>
  </div>
</div>


